dropout_layer_norm==0.1
einops==0.7.0
flash_attn==2.5.7
jsonargparse==4.27.7
lightning==2.1.2
lightning_utilities==0.11.2
loguru==0.7.2
numpy==1.21.5
openxlab==0.0.38
pandas==2.0.0
pyarrow==12.0.0
pytorch_lightning==2.2.1
quantize==0.0.4
sentencepiece==0.2.0
tiktoken==0.6.0
tokenizers==0.19.1
torch==2.2.1+cu118
torch_xla==2.2.0
tqdm==4.65.2
transformers==4.39.2
transformers_stream_generator==0.0.5
typing_extensions==4.11.0
xentropy_cuda_lib==0.1
zstandard==0.22.0
